<?xml version="1.0"?>
<launch>
  <node pkg="tf" type="static_transform_publisher" name="tf" args="0 0 0 0 0 0 base_link usb_cam 10"/>
  <node name="path_generator" pkg="ar_path_nav" type="path_generator_node" output="screen"/>
  <node name="path_tracker" pkg="ar_path_nav" type="path_tracker_node" output="screen"/>
</launch>