<?xml version="1.0"?>
<launch>
  <node pkg="tf" type="static_transform_publisher" name="tf" args="0 0 0 0 0 0 base_link usb_cam 10"/>

  	<!-- motor node -->
  <!-- <include file="$(find xycar_motor)/launch/xycar_motor.launch" /> -->

  <!-- Lidar node -->
  <!-- <include file="$(find xycar_lidar)/launch/xycar_lidar.launch" /> -->

  <!-- Ultrasonic sensor node -->
  <!-- <include file="$(find xycar_ultrasonic)/launch/xycar_ultrasonic.launch" /> -->
 
  <!-- USB Camera node -->
  <!-- <include file="$(find usb_cam)/launch/xycar_cam.launch" /> -->

  <!-- AR_TRACK_ALVAR node -->
  <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
    <param name="marker_size"           type="double" value="9.0" />
    <param name="max_new_marker_error"  type="double" value="0.05" />
    <param name="max_track_error"       type="double" value="0.05" />
    <param name="output_frame"          type="string" value="usb_cam" />
    <remap from="camera_image"  to="/usb_cam/image_raw" />
    <remap from="camera_info"   to="/usb_cam/camera_info" />
  </node>

  <node name="ar_nav" pkg="ar_path_nav" type="ar_nav.py" output="screen"/>
  <node name="trafficlight_node" pkg="ar_path_nav" type="trafficlight.py" output="screen"/>

  <node pkg="rf2o_laser_odometry" type="rf2o_laser_odometry_node" name="rf2o_laser_odometry" output="screen">
    <param name="laser_scan_topic" value="/scan"/>        # topic where the lidar scans are being published
    <param name="odom_topic" value="/odom" />              # topic where tu publish the odometry estimations
    <param name="publish_tf" value="true" />                   # wheter or not to publish the tf::transform (base->odom)
    <param name="base_frame_id" value="/base_link"/>            # frame_id (tf) of the mobile robot base. A tf transform from the laser_frame to the base_frame is mandatory
    <param name="odom_frame_id" value="/odom" />                # frame_id (tf) to publish the odometry estimations    
    <param name="init_pose_from_topic" value="" /> # (Odom topic) Leave empty to start at point (0,0)
    <param name="freq" value="6.0"/>                            # Execution frequency.
    <param name="verbose" value="true" />                       # verbose
  </node>

</launch>